@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --primary-color:#f4f4f4;
}

body{
    margin: 0;
}

header{
    background-color: var(--primary-color);
    padding: 1em;
    text-align: center;
}

section{
    margin: auto;
    width: 30em;
    padding: 3rem 2rem;
}

.container{
    background-color: var(--primary-color);
    padding: 2rem;
}

h2{
    font-family: 'Poppins';
    font-size: 1.5em;
}

h3{
    font-family: 'Poppins';
}

label{
    display: block;
    font-family: 'Poppins';
}

input[type ='text']{
    width: 100%;
    padding: 8px;
    margin-bottom: .5em;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.submit-cta{
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    margin: 5px 0;

    &:hover{
        background: #444;
    }
}

.color-cta{
    background-color: red;
    color: black;
}

.error-msg{
    color: red;
    font-style: italic;
}

.list{
    list-style: none;
}